.btn-katalog {
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}
.btn-katalog:hover {
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
  border: 1px solid linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}
.btn-katalog:hover > a > i {
  color: #101828;
}
.btn-katalog:hover > a > p {
  color: #101828;
}

.icon:hover > i {
  color: #0d63f3;
}
.btn-slider:hover > i {
  color: white;
}

.btn-slider {
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
  cursor: pointer;
}

.btn-slider:hover {
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}
.btn-slider__active {
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}

.list__item:hover {
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}
.heart-icon {
  color: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
}

.footer {
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
}

.line__footer {
  background: linear-gradient(270deg, #f64d4d 0%, #4d5ef6 100%);
}
